* {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(0, 0, 0);
    height: 80px;
    width:100%;
    position:absolute;
}
h1 {
    color: white;
    position: absolute;
    left: 60px;
    top: 0;
    line-height: 80px;
    background-image: url(图片/logo\(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}

header ol {
    position:absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}
header li {
    display:inline;
    margin-right: 4vw;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration:underline;
}
.news{
    background-color: rgb(252, 241, 226);
    color:rgb(252, 248, 228);
    height: 105vh;
    background-image: url(图片/主图1\(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news h2 {
    font-size: 60px;
    margin-top: 60px;
}
.news p {
    color: #fef7e6;
    font-size: 18px;
    margin: 25px 0;
}
.news a { 
    color:white;
    text-decoration:none;
    border: 1px solid #acacac;
    padding: 10px 20px;
    border-radius: 5px;
}
.tip {
    background-color: #20201e;
    position: relative;

    padding: 120px 180px;
    text-align: center;
}
.tip p{
        font-size: 30px;
        color: #d3bb35;
        
}
.tip div {
    display: flex;
    line-height: 8em;
    justify-content: center;
    align-items: center;
}
.list{
    width: 200px;
    height: 200px;
    margin: 25px 10px;
    text-decoration:none;
    border-radius: 10px 20px 40px 30px;
    border: 3px solid #d3bb35;
    background-color: #ebe8c8;
}

.list a{
    text-decoration: none;
    color: #000;
}
.map p{
    background-color: #20201e;
    font-size: 30px;
    color: #d3bb35;
    text-align: center;
}
.map img{
    position: relative;
    width: 100%;
}

footer p{
    background-color: #000000;
    color: #fef7e6;
}